@charset "UTF-8";
.el-header {
    height: 0.56rem!important;
    line-height: 0.56rem;
    padding: .13rem .19rem;
    box-sizing: border-box;
    box-shadow: 0rem 0rem 0.16rem 0rem
    rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 6;
    background: #23a4ec url("../../../../public/static/images/header/header_bg.png") no-repeat;
}
.el-menu{
    margin-top:25% ;
}

div.header {
    width: 100%;
    height: 100%;
    background-size: cover;
}

div.header .logo {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div.header .logoImg {
    height: 100%;
}

.systemName{
    line-height: .3rem;
    letter-spacing: 2px;
    color: #fff;
    font-size: 0.22rem;
    margin-left: 0.12rem;
    font-weight: 500;
}

/*头部管理员信息*/
div.header div.headerR {
    height: 0.3rem;
    float: right;
    width: 2.4rem;
    margin-right: .21rem;
}

.bell{
    width: 0.34rem;
    height: 0.4rem;
    float: left;
    margin: 0 0.08rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.info{
    width: 0.4rem;
    height: 0.36rem;
    float: left;
    margin: 0 0.08rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.userInfo::after{
    content:"";
    width: 2px;
    height: .21rem;
    background-color: #fff;
    float: right;
    position: absolute;
    right: 0;
}
.el-dropdown{
    width: 1.9rem;
    height: 100%;
    display: flex;
    position: relative;
}
.el-dropdown-link{
    width: 100%;
    height: 100%;
    line-height: .3rem;
    display: flex;
}
.el-avatar{
    width: 0.26rem;
    height: 0.26rem;
    background-color: #ffffff;
}

.bell_img{
    width: 100%;
    height: 100%;
    display: block;
}

/*有信息时的表示*/
.message{
    width: 0.12rem;
    height: 0.12rem;
    background: #ffb129;
    border-radius: 50%;
    position: absolute;
    right: -11%;
    top: 0;
    text-align: center;
    line-height: 0.12rem;
    color: #003333;
    font-size: 8px;
}

.userInfo .userIcon{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    display: flex;
    flex-direction: row;
}
.userInfo{
    width: 1.9rem;
    height: 0.3rem;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo .username{
    color: #fefefe;
    font-size: .14rem;
    margin-left: .16rem;
    margin-right: .03rem;
}
.userInfo .el-dropdown{
    height: 100%;
}

.userInfo .el-icon-arrow-down.el-icon--right{
    line-height: .3rem;
    color:#fff;
}

.userInfo .iconfont{
    float: left;
    font-size: 0.12rem;
}

.exit {
    cursor: pointer;
    color: #fff;
    float: right;
    line-height: .32rem;
}
.el-dropdown-menu__item{
    font-size: .14rem;
    padding: 0 .16rem;
}
.el-dropdown-menu{
    padding: 0;
}
