html,body{
	height:100%;
}
#app{
	height:100%;
}
.slideleft{
	transform: rotate(180deg);
}
.el-menu-item i,.el-submenu__title i{
	color: #666;
}
.el-submenu__icon-arrow{
	color:#666;
	margin-top: -6px!important;
}
.el-menu-vertical-demo{
	/* width:2.5rem; */
	-webkit-box-orient:vertical;
	border-right:none;
	/* box-shadow: 0.03rem 0.004rem 0.11rem 0rem rgba(227, 227, 227, 0.75); */
	position: relative;
	margin-top: .2rem!important;
}

.el-menu--collapse{
	width:1rem;
}
.el-menu-vertical-demo >li{
	position:relative;
	/*width:2.4rem;!*此处注意一下侧导航宽度*!*/
}
.el-menu-item, .el-submenu__title{
	height: 0.65rem;
	line-height: .65rem;
	color:#666;
}
.el-submenu__title{
	height: 0.7rem;
	line-height: .7rem;
}

.el-submenu .el-menu-item{
	height:0.5rem !important;
	line-height:0.5rem !important;
	min-width: auto !important;
	max-width: 2.4rem !important;
	padding-left:50px !important;
}
i.firstlevel{
	width:0.45rem;
	margin-right:0.15rem;
	font-size: 0.24rem;
}
i.secondlevel{
	width:0.45rem;
	margin-right:0.15rem;
	font-size: 0.22rem;
}
i.thirdlevel{
	width:0.45rem;
	margin-right:0.1rem;
	font-size:0.18rem;
}
i.firstlevel+span,i.firstlevel+.navbadge>span{
	font-size:0.18rem;
}
i.firstlevel+.navbadge>.el-badge__content.is-fixed{
	right:-6px;
	top:50%;
}
i.secondlevel+span,i.secondlevel+.navbadge>span{
	font-size: 0.16rem;
}
i.secondlevel+.navbadge>.el-badge__content.is-fixed{
	right:-1px;
	top:50%;
}
i.thirdlevel+span,i.thirdlevel+.navbadge>span{
	font-size: 0.16rem;
	color: rgb(102,102,102)
}
i.firstlevel+span+i,i.firstlevel+.navbadge+i{
	font-size:0.2rem;
}
i.secondlevel+span+i,i.secondlevel+.navbadge+i{
	font-size:0.16rem;
}

/*鼠标悬停*/
.el-submenu__title:hover,.el-menu-item:hover{
	background-color:rgb(241,241,241,.15) !important;
}
/*展开菜单字体颜色*/
li.is-opened >div.el-submenu__title >i.iconfont+span{
	/* color:#364af8; */
}
.rightborder{
	width:0.1rem;
	position: absolute;
	top:0;
	bottom:0;
	right:-0.1rem;
	background:rgb(241,241,241);
	display: none;
	box-shadow: 0.03rem 0.004rem 0.05rem 0px rgba(227, 227, 227, 0.75);
}
.rightarrow{
	width:0px;
	height:0px;
	position: absolute;
	bottom:-0.1rem;
	right:-0.1rem;
	border-top:0.05rem solid rgba(154,154,154,1);
	border-right:0.05rem solid rgba(154,154,154,0);
	border-bottom:0.05rem solid rgba(154,154,154,0);
	border-left:0.05rem solid rgba(154,154,154,1);
	display: none;
}
li.is-opened >div.el-submenu__title >.rightborder,li.is-opened >div.el-submenu__title >.rightarrow{
	/*display: block;*/
}
li.is-opened >div.el-submenu__title >i.iconfont{
	/*color:#378ef8;*/
}
.el-menu-item.is-active{
	background:#0c95e2!important;
	color: #fff!important;
}
.el-menu-item.is-active:hover{
	background:#0c95e2!important;
	color: #fff!important;
}
.el-menu-item.is-active:hover i{
	color: #fff!important;
}
.leftline{
	display: none;
	width:0.04rem;
	position:absolute;
	top:1px;
	bottom:1px;
	left:0.1rem;
	background:#378ef8;
}
.icon-iconfontcolor69{
	vertical-align: -0.01rem;
}

.el-menu{
	margin-top: 0;
}
.el-aside {
	/*background-image: url("/static/images/aside/aside_bg.png");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	width: 99.99%;
}
.el-aside::-webkit-scrollbar{
	width:13px;
}
.el-aside::-webkit-scrollbar-thumb{
	border:3px solid transparent;
	background-clip:padding-box;
	border-radius:7px;
	min-height:84px;
	background-color:rgba(0,0,0,0.4);
}
.el-aside::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0,0,0,0.5);
}
.el-aside::-webkit-scrollbar-track{
	background-color:transparent;
}

.el-aside::-webkit-scrollbar-track:hover{
	background-color:#f8fafc;
}


.el-submenu [class^=el-icon-]{
	font-size: .26rem;
}
.el-submenu__title *{
	font-size: .2rem;
}
.el-menu-item{
	font-size: .18rem;
}
.el-menu-item-group__title{
	padding: 0;
}

.iconfuwu,.iconjianyi1{
	font-size: .3rem!important;
}

.iconfuwu{
	font-weight: bold;
}
.el-menu-item:hover{
	background: rgba(101,106,133,.1) !important;
	color: #0e6ecd;
}

.el-menu-item:hover i{
	color: #0e6ecd!important;
}
.activeTwo .el-submenu__title{
	background: #0c95e2!important;
	border-left: 4px solid #0c95e2!important;
	color: #fff!important;
}
.activeTwo .el-submenu__title i{
	color: inherit;
}
.el-submenu .el-menu{
	margin-top: .1rem;
}
